header {
    position: absolute;
    top: 0;
    left: 0;
    color: #161B46;
    text-transform: uppercase;
    height: 12vh;
    min-height: 50px;
    box-shadow: 0 4px 13px rgba(125, 125, 125, 0.25);
    display: flex;
    align-items: center;
    width: 100%;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.title {
    font-weight: 500;
}
.header-link {
    text-decoration: none;
    color: #161B46;
    line-height: 27px;
    font-weight: 500;
}
.header-link:hover {
    opacity: 0.6;
}
@media screen and (max-width: 767px){
    .header {
        align-items: flex-start;
    }
    .header-link {
        font-size: 15px;
        line-height: 24px;
    }
    .title {
        font-size: 15px;
        line-height: 24px;
    }
}