.list-group {
    text-align: left;
    padding-left: 0;
    color: #444;
    line-height: 25px;
}
.list-group-item {
    width: 70vw;
    list-style-type: none;
    padding-left: 14px;
    border: 1px solid lightgrey;
    border-radius: 4px;
    margin-top: 10px;
    min-height: 50px;
}
.item-hover:hover {
    background-color: lightgrey;
    cursor: pointer;
}
.item-selected {
    background-color: lightgrey;
}
.list-group-item:active {
    background-color: lightgrey;
}
.answers-button-block {
    position: relative;
}
.error-text {
    position: absolute;
    bottom: 40px;
    color: red;
    font-size: 14px;
}
.button-hint {
    background-color: darkseagreen;
}
.button-hint-margin {
    margin-left: 10px;
}
.hint-hide {
    visibility: hidden;
}
.hint-block {
    width: 70vw;
    background-color: #EDF1DD;
    border-radius: 4px;
    padding: 10px;
}