.result-block {
    position: relative;
}
.result-button {
    margin: 0 0;
    width: 180px;
}
.button-result-mistake {
    width: 180px;
    position: absolute;
    bottom: 0;
    left: 200px;
}
@media screen and (max-width: 767px){
    .button-result-mistake {
        bottom: -50px;
        left: 0;
    }

}